body {
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    background-image: url('/images/blended-background.jpg');
    /* background: #77b6ea;
    background: linear-gradient(-20deg, #77b6ea 0%, #fff7db 50%, #fde8e9 100%); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh !important;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: the-seasons, sans-serif;
    font-style: normal;
    font-weight: 400; 
    color: #26555E !important;
}

p {
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 180%;
    color: #26555E !important;
}

.nav-font {
    font-family: "open-sans", sans-serif;
    font-style: normal;
    color: #26555E !important;
}

.bg-opaque {
    background-color: rgb(255, 255, 255, 0.5);
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

::selection {
    background: #26555E !important;
    color: #FDE8E9;
  }