body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: #e3eff9; 
    padding: 4px; 
    color: #202020;
    grid-area: main;
}

aside {
    grid-area: aside;
}

h1, h2, h3 {
    color: #105196;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


footer {
    background-color: #202020;
    color: #C1E1F5;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    grid-area: footer;
}

header {
    display: flex;
    justify-content: start; 
    align-items: center;
    grid-area: header;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    grid-template-columns: auto 200px;
    grid-gap: 8px;
}

#formInfo {
    font-size: 14px;
    font-style: italic;
}